---
layout: compress
---

<!-- NOTE: logo is not perfectly round line 22ish. idk why but the ./_includes/head.htmml clips the image not perfectly round so i made the circle eliptical -->

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn jf-title" href="{{ site.url }}/about">
                        	<p>{{ site.title }}</p>
			            </a>
                    </h3>

                    <!-- <hr class="hr-line"> -->
                    <!-- This is for adding in the site bio, not currently useful for justin -->
                    <!-- <h3 class="title">
                        <a href="{{ site.url }}">
                        	<p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
			            </a>
                    </h3> -->
                    <hr class = "hr-line">
                    <h3 class="title">
                        <div class="project-container zoombtn">
                            <a href="{{ site.url }}/projects">
                                <img src="/assets/img/osb/firstWalk.gif" alt="legLayout.jpg"/>
                                <div class="project-centered">Projects</div>
                            </a>
                        </div>
                    </h3>
                    <!-- <a href="{{ site.url }}/projects">
                        <img src="/assets/img/osb/firstWalk.gif" />
                        <div class="centered">Projects</div>
                       </a> -->

                    <hr class = "hr-line">
                    <h3 class="title">
                    <p style="font-size:.8rem;font-weight:300">
                        <a class="btn" target="_blank" rel="noopener noreferrer" href="https://docs.google.com/document/d/1jjhP75vnyquDzlLfRouETEBL6ZB2xvba9WrnxktOWlE/edit?usp=sharing">
                            Software Resume
                            </a>
                        <a class="btn" target="_blank" rel="noopener noreferrer" href="https://docs.google.com/document/d/1YNkkL2Xyh7ApafmnMOviEHomLQymMC8oC6Yk50c_juQ/edit?usp=sharing">
                            Robotics Resume
                            </a>
                    </p>
                    </h3>
                    
                    {% include social-links.html %}

                    

                    <!-- This is for navigation buttons of old -->
                    <!-- <hr class="hr-line">
                    <h3 class="title">
                        <a class="btn zoombtn" href="{{ site.url }}/about">
                        About
                        </a>
                        <a class="btn zoombtn" href="{{ site.url }}/projects">
                        Projects
                        </a>
                        <a class="btn zoombtn" href="{{ site.url }}/posts">
                        Posts
                        </a>
                    </h3> -->
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
